node_modules/
build/
.DS_Store
.env
*.log
coverage/
app/
*.zip
.sonar/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/crash.log
terraform/.terraform.lock.hcl
